body {
  margin: 0;
  padding: 10px;
  font-family: sans-serif;
}

.image-preview {
  display: block;
  margin-bottom: 10px;
}

.reset-button,
.preview-button {
  display: inline-block;
  margin: 20px 5px;
}

.reset-button {
  margin-left: 0;
}
